.navbar{
    height: 50px;
    background-color: #760C0C;   
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem{
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.title__link{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 24px;
}